.idea/

cmake-build-debug/
cmake-build-release/
CMakeFiles/

*.cmake
CMakeCache.txt
MakeFile
*.cbp

bin/

#VST sdk files are ignored due to license
src/vst_plugin/vst2.x/*.h
src/vst_plugin/vst2.x/*.cpp
src/vst_plugin/pluginterfaces/vst2.x/*.h

*.dll
*.a
